#content {
    max-width: 1000px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*
    Main Article Styling
*/

#main_article {
    margin: 10px;
    position: relative;
    display: block;
    color: forestgreen;

    transition: all .2s ease-in-out;
}

#main_article:hover {
    transform: scale(1.1);
}

#main_article img {
    max-width: 100%;
    height: auto;

    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

#main_article #inside {
    position: absolute;
    top: 50%;
    left: 50px;
    padding-right: 20%;

    text-shadow: 0 1px 0 black;
}

#main_article #inside p {
    font-family: "Montserrat", Sans-serif;
}

/* 
    Other Article Styling
*/

.article {
    margin: 10px;
    position: relative;
    color: forestgreen;
    text-decoration: none;
    background-color: #121212;
    height: 200px;

    display: flex;
    flex-direction: row;

    animation: fadeInUp;
    animation-duration: 1s;

    transition: all .2s ease-in-out;
}
.article:hover {
    transform: scale(1.1);
}

.article img {
    width: 20%;
    height: auto;
}

.article #inside {
    padding-left: 20px;
}

.article #inside p {
    font-family: "Montserrat", Sans-serif;
}