/*
    Hand coded by Sheen 2020

    Feel free to steal code!
*/

/*  -------- All pages -------- */
html {
    /* Smooth scrolling?? apparently very new huh */
    scroll-behavior: smooth;
}

body {
    background-color: #0c0c0c;
    color: green;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1em;
}

#header {
    position: sticky;
    right: 0px;
    left: 0px;
    top: 0px;
    padding: 10px 0;

    background-color: #0c0c0c;
    border-width: 1px;
    border-style: none none solid none;
    border-color: forestgreen;

    z-index: 5;
}

#header a {
    font-family: "Roboto Mono", monospace;
    color: forestgreen;
    margin-bottom: .3em;
    padding-right: 2em;
    text-decoration: none;
}

#header #name {
    padding: 0em 1em 1em 1em;
    font-size: 1.5em;
    left: 0px;
    font-weight: 600;
}

/*footer #top {*/  /* Put the repeating the _ */
    /*background-repeat: space;
    background-image: url("images/underscore.png");
}*/

#footer {
    background-color: forestgreen;
    position: absolute;
    left: 0px;
    margin: 0;
    width: 100%;
}

#footer p {
    color: #121212;
    font-size: .7em;
    margin: 2rem;
}

/* ---------- Terminal Page ------------- */
#Asciiname {
    color: forestgreen;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
}

#prompt {
    display: inline;
}

input {
    background-color: transparent;
    border: 0px;
    padding-left: 0px;
    color: ghostwhite;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1em;
}

.terminal {
    --background: transparent;
    --color: green;
    font-family: "Roboto Mono", monospace;
    --size: 1.75;
}

#topflex {
    display: flex;
    align-items: center;
}

#mainImage {
    display: flex;
    margin: 25px;
    width: auto;
    height: 100%;
    border-radius: 40% 15% 40% 15%;

}

#topRightflex {
    align-self: stretch;
}

/* ----------- index page -------------- */

h3 {
    font-size: 2em;
    padding-left: 0;
    margin-bottom: 20px;
}

hr {
    width: 90%;
    border-color: #454545;
}

#content {
    margin-left: auto;
	margin-right: auto;
    max-width: 850px;
    color: forestgreen;
}

.content {
	margin-left: 3em;
	color: whitesmoke;
}

.content a {
    color: orange;
    text-decoration: none;
}

#intro {
    position: relative;
    /*height: 100vh;*/
    box-sizing: border-box;
    padding-top: 3%; /*previously 7% */
}

#intro #sequence {
    margin-left: 10%;
    font-size: 10vmin;
}

#intro #tagline {
    margin-left: 10%;
    /*font-family: "Montserrat", sans-serif;*/
    font-size: 3vmin;
    max-width: 60rem;
    color: whitesmoke;
}

#index-links {
	font-size: 3vmin;
	max-width: 60rem;
	color: whitesmoke;
	display: inline;
	margin-left: 10%;
	margin-top: 1%;
	position: absolute;
}

#index-links a, #index-links a:visited {
	text-decoration: none;
	color: whitesmoke;
	transition: color 0.5s;
}

#index-links a:hover {
	color: forestgreen;
	transition: color 0.5s;
}

.downarrow {
  border: solid forestgreen;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* Keyframing for intro button */
@keyframes buttonChange {
    from {
        background-color: #121212;
        color: forestgreen;
    }

    to {
        background-color: forestgreen;
        color: #121212;
    }
}
@keyframes buttonChangeOut {
    from {
        background-color: forestgreen;
        color: #121212;
    }

    to {
        background-color: #121212;
        color: forestgreen;
    }
}

#intro #seqContinue {
    font-family: 'Roboto Mono', monospace;
    background-color: #121212;
    border: 4px solid forestgreen;
    padding: 20px;
    color: green;
    border-radius: 20px;

    position: absolute;
    left:0;
    right:0;
    bottom: 65px;
    margin: 0 auto;

    animation: buttonChangeOut 0.5s;
}

#intro #seqContinue:hover {
    animation-name: buttonChange;
    animation-duration: 0.5s;
    background-color: forestgreen;
    color: #121212;
}

.intro {
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
