body {
    background-color: #0c0c0c;
}

#header {
    color: forestgreen;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
}

body {
    color: green;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1em;
}

#prompt {
    display: inline;
}

input {
    background-color: transparent;
    border: 0px;
    padding-left: 0px;
    color: ghostwhite;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1em;
}

.terminal {
    --background: transparent;
    --color: green;
    font-family: "Roboto Mono", monospace;
    --size: 1.75;
}

#topflex {
    display: flex;
    align-items: center;
}

#mainImage {
    display: flex;
    margin: 25px;
    width: auto;
    height: 100%;
    border-radius: 40% 15% 40% 15%;
    
}

#topRightflex {
    align-self: stretch;
}