---
layout: null
title: > sheenpatel.com
---
<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/html">
<head>
	{% include headLinks.html %}

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="./lib/jquery-term.min.js"></script>
	<link rel="stylesheet" href="./lib/jquery-term.css" />
	<script type="text/javascript" src="commands.js"></script>

	<title>{{ page.title }}</title>

</head>
<body>

	{% include header.html %}

	<!-- Shame this kinda looks ugly, it too much fiddling with flexbox -->
	<div id="topflex">
		<!--<img id="mainImage" src="https://via.placeholder.com/200" />-->
			<div id="topRightflex">
				<h1 id="Asciiname">
					<pre>
	  ______ _                          ______                   _
	 / _____) |                        (_____ \        _        | |
	( (____ | |__  _____ _____ ____     _____) )____ _| |_ _____| |
	 \____ \|  _ \| ___ | ___ |  _ \   |  ____(____ (_   _) ___ | |
	 _____) ) | | | ____| ____| | | |  | |    / ___ | | |_| ____| |
	(______/|_| |_|_____)_____)_| |_|  |_|    \_____|  \__)_____)\_)</pre>
				</h1>
				<p> -- I build things. -- This is filler text about me!</p>
			</div>
		</div>
		<h2>I like to make things. I'll take on anything, and learning is my passion.</h2>
		<p>[Message introducing the terminal interactions]</p>
	<div id="terminal"></div>

	{% include footer.html %}

</body>
</html>
