<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173590248-1"></script>
<script>
if (document.location.hostname == "sheenpatel.com") {
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-173590248-1');
} else {
	_gaq = {push: function(arg) {console.log("ga:", arg)}}
}
</script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./lib/jquery-term.min.js"></script>
<link rel="stylesheet" href="./lib/jquery-term.css" />
<script type="text/javascript" src="commands.js"></script>-->
<script type="text/javascript" src="/js/main.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
<link rel="stylesheet" href="/css/styles.css">
<meta charset="utf-8" />
