h1 {
    font-size: 3em;
    max-width: 1000px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 30px 0;
}

#content {
    max-width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 50px;
}

#content img {
	object-fit: cover;
    max-width: 100%;
    height: auto;
}

.writing h2 {
    margin-left: -2em;
}

.code {
    background-color: #2e2e2e;
    padding: 2px;
    border-radius: 3px;
    font-family: "Roboto Mono", monospace;
    color: lightcoral;
}

@media (max-width:950px) {
	.writing h2 {
		margin-left: 2em;
	}
}

.writing p {
	margin-left: 0em;
	color: whitesmoke;
	font-family: "Montserrat", "Sans-serif";
    font-weight: 400;
    line-height: 1.5em;
    text-indent: 0.5in;
}

.writing a {
    color: orange;
    text-decoration: none;
}

small {
    color: wheat;
}

/* Following is to use dashes as list markers */
.writing ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
.writing li {
    color: whitesmoke;
    font-family: "Montserrat", "Sans-serif";
    font-weight: 400;
    line-height: 1.5em;
}
.writing ul li:before {
    display: inline-block;
    content: "-";
    width: 1em;
}

#closingName {
    color: whitesmoke;
    font-style: italic;
    margin-top: 50px;
}

/* Following for youtube videos to look nice */
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* For the collapsible TL;DR parts*/
.collapsible {
    background-color: forestgreen;
    color: whitesmoke;
    font-family: "Roboto Mono", "Monospace";
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: forestgreen;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .collapsible_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff0c;
    border-width: 1px;
    border-color: forestgreen;
  }