---
layout: default
title: Sheen Patel's Blog
---
<link rel="stylesheet" href="/css/blog.css">
<div id="content">
	<a href="{{ site.posts[0].url }}" id="main_article">
		<img src="{{ site.posts[0].imageSrc }}" />
		<div id="inside">
			<h1>{{ site.posts[0].title }}</h1>
			<p>{{ site.posts[0].author }} |
      {{ site.posts[0].date | date: "%B" }}
      {{ site.posts[0].date | date: "%d" | plus:'0' }},
      {{ site.posts[0].date | date: "%Y" }} |
	  {{ site.posts[0].tags | join: ', ' }}</p>
		</div>
	</a>

    <!--
        Previous Articles
    -->

    <!-- <h2>Also check out my other articles:</h2> -->

	{% for post in site.posts offset: 1 %}
	<a href="{{ post.url }}" class="article">
		<img src="{{ post.imageSrc }}" />
		<div id="inside">
			<h1>{{ post.title }}</h1>
			<p>{{ post.author }} |
      {{ post.date | date: "%B" }}
      {{ post.date | date: "%d" | plus:'0' }},
      {{ post.date | date: "%Y" }} | {{ post.tags | join: ', '}}</p>
		</div>
    </a>
	{% endfor %}

	<h3>All posts:</h3>
	<ul>
	  {% for post in site.posts %}
		<li>
		  <a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	  {% endfor %}
	</ul>
</div>
